**/*.*proj.user
**/bin
**/obj
*.cmd
*.code-workspace
*.md
*.ps1
*.sh
.dockerignore
.editorconfig
.gitattributes
.gitignore
.vs
.vscode
CodeMaid.config
docker-compose.*.yml
docker-compose.yml
Dockerfile*
LICENSE
omnisharp.json
